/*

Sourced from:
https://flatuicolors.com/palette/us- American Palette by Kevin Yang */
:root {
    --light-pink: #fab1a0;
    --orange: #e17055; 
    --light-grey: #b2bec3;
    --dark-grey: #2d3436;
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--light-grey);
}
/* Header and Nav Style start */
header {
    background-color: var(--dark-grey);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--orange);
}

header h1 {
    width: 30%;
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    padding-right: 15px;
    margin: 10px 10px 10px 0px;
    background-color: var(--light-pink);

}

header nav {
    width: 40%;
    padding: 10px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style:none;
    font-size: 20px
}

header a {
    color: var(--light-pink);
    text-decoration: none;
    border-bottom: 3px solid var(--orange);
    padding: 5px;
}
/* Header Style end */

/* Hero Style Start */
.hero {
    background-image: url(../images/gc-wide.jpg);
    background-size: cover;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    height: 300px;
    
}


/* About-me Style start */
/* About-me Style end */

/* Work Style start */

/* Contact/Footer Style sorantart */
/* Contact/Footer Style start */
.contact {
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.contact address {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;


}

.contact p, .contact a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 3px solid var(--black);
    padding-bottom: 3px;
}


.main-project {
    background-image: url(../images/zion.jpg);
}

/* Utility class selectors */
.section-title {
        padding-right: 5px;
        border-right: 3px solid var(--orange);
        font-size: 30px;
        width: 20%;
        text-align: end;
    }