/*

Sourced from:
https://flatuicolors.com/palette/us- American Palette by Kevin Yang */
:root {
    --light-pink: #fab1a0;
    --orange: #e17055; 
    --light-grey: #b2bec3;
    --dark-grey: #2d3436;
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--light-grey);
}
/* Header and Nav Style start */
header {
    background-color: var(--dark-grey);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--orange);
}

header h1 {
    width: 30%;
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    padding-right: 15px;
    margin: 10px 10px 10px 0px;
    background-color: var(--light-pink);
}

header nav {
    width: 40%;
    padding: 10px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style:none;
    font-size: 20px
}

header a {
    color: var(--light-pink);
    text-decoration: none;
    border-bottom: 3px solid var(--orange);
    padding: 5px;
}
/* Header Style end */

/* Hero/portrait Style Start */
.hero {
    background-image: url(../images/gc-wide.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;  
    border-bottom: 5px solid var(--orange);
    margin-bottom: 15px;
}

.hero h1 {
        width: 40%;
        text-align: right;
        font-weight: bold;
        font-size: 24px;
        padding: 5px 15px;
        margin: 10px 10px 10px 0px;
        background-color: var(--light-pink);
        display: none;
}
.portrait {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.portrait img {
    height: 200px;
    width: 200px;
    float: right;
    border-radius: 100px;
    border: solid 5px var(--orange);
    margin: 0px 40px;
    transition: transform .5s ease;
}

    
/* Hero/portrait Style End */

/* About-me Style start */
.bio {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bio-text {
    width: 75%;
    display: flex;
    justify-content: center;
}

.bio-text p {
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
}
/* About-me Style end */

/* Work Style start */
.work {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.cards {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#card-1{
    height: 450px;
    width: 80%;
}

.card-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    height: 200px;
    width: 45%;
    background-color: var(--dark-grey);
    border: 5px solid var(--orange);
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
}

.card div {
    background-color: var(--orange); 
    align-self: flex-end;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    color: var(--dark-grey);
}
.card h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;    
}

#card-5 {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
}

.card:hover {
    opacity: 1.0;
}


/* Work Style end */

/* Contact/Footer Style start */

.contact {
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.contact address {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
}

.contact p, .contact a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 3px solid var(--black);
    padding-bottom: 3px;
}

/* Contact Style end */

/* Utility Class Selectors */

.section-title {
        padding-right: 5px;
        padding-left: 10px;
        border-right: 3px solid var(--orange);
        font-size: 30px;
        width: 20%;
        text-align: end;
    }

/* MEDIA QUERIES*/

/* For Fine Pointer Accuracy */
@media (pointer: fine) {
    .portrait img:hover {
        transform: scale(2);
    }

    .card {
        opacity: 0.3;
    }
    
    .contact a:hover, header a:hover {
        color: rgb(255, 255, 255);
        transform: scale(1.5);
    }
 
}

/* For Screens 1200px and below */
@media screen and (max-width: 1200px) {
    header nav {
        width: 60%;
    }
}

/* For Screens 768px and below */
@media screen and (max-width: 768px) {
    .card div {
        width: 100%;
        font-size: 12px;
    }

    .card h3 {
        font-size: 20px;
    }

    #card-1 {
        height: 300px;
    }

    .contact p, .contact a {
        width: 40%;
    }
}

/* For Screens 575px and below */
@media screen and (max-width: 575px) {
    header nav {
        width: 100%;
    }

    header nav ul {
        font-size: 16px;
    }

    header h1 {
        display: none;
    }

    .hero {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero h1 {
        display: inline-flex;
        width: 40%;
    }

    .portrait img {
        height: 120px;
        width: 120px;
        margin: auto;
    }

    .contact {
        height: auto;
    }
    .contact address {
        font-size: 14px;
    }
    
    .section-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .bio-text p {
        font-size: 13px;
        line-height: 1.2;
    }

    .section-title {
        writing-mode: vertical-lr;
        text-orientation:upright;
        letter-spacing: -5px;
        text-align: start;
        font-size: 20px;
    }
    
    .card div {
        padding: 0;
    }
    
    .card h3 {
        font-size: 14px;
        padding: 0;
    }

    #card-1 {
        height: 200px
    }

    .card {
        height: 100px;
    }
}
